# General
tmp/
bin/
build/
dist/
downloads/
_trash/
*~
*.tmp
*.bak
*.swp
*.log


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
eggs/
.eggs/
*.egg
*.egg-info/
develop-eggs/
.installed.cfg


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/


# Translations
*.mo
*.pot


# Django stuff:
local_settings.py


# Flask stuff:
instance/
.webassets-cache


# Scrapy stuff:
.scrapy


# Sphinx documentation
docs/_build/


# PyBuilder
target/


# IPython Notebook
.ipynb_checkpoints


# virtualenv
.python-version
.env
.venv/
env/
venv/
ENV/


# IDE
.idea
.metadata
*~.nib
local.properties
.settings/
.project
*.pydevproject


